@import './reset';
@import './variables/global';
@import './themes/normal';
@import './themes/dark';
@import './themes/orange';

body {
  font: var(--font-m);
  background: var(--bg-color);
  color: var(--primary-color);

  .app_redesigned {
    color: var(--primary-color);
    font: var(--font-m-redesigned);
    background: var(--bg-redesigned);
  }
}

.app,
.app_modal,
.app_drawer {
  min-height: 100vh;
  color: var(--primary-color);
}

.app {
  background: var(--bg-color);
}

.page-content {
  display: flex;
  background: var(--bg-color);
}

*::-webkit-scrollbar {
  width: 12px;
  height: 8px;
}

*::-webkit-scrollbar-track {
  background: var(--card-bg);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--inverted-primary-color);
  border-radius: 20px;
  border: 3px solid var(--primary-color);
  cursor: grab;
}

*::-webkit-scrollbar-thumb:active {
  cursor: grabbing;
}
