.AppLink {
  color: var(--primary-color);
  align-items: center;
}

.primary {
  color: var(--primary-color);
}

.secondary {
  color: var(--inverted-primary-color);
}

.outline {
  border: 1px solid var(--primary-color);
  padding: 5px 10px;
  text-decoration: none;
}
