.Modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  pointer-events: none;
  z-index: -1;
  display: flex;
  justify-content: center;
  align-items: center;

  &.open {
    z-index: var(--modal-zIndex);
    pointer-events: auto;
  }

  &.isClosing {
    background-color: transparent !important;
  }
}

.overlay {
  transition: background-color 0.3s;
}

.content {
  padding: 20px;
  border-radius: 12px;
  background: var(--bg-color);
  transition: all 0.3s;
  opacity: 0;
  transform: scale(0.6);
}

.open {
  & .content {
    transform: scale(1);
    opacity: 1;
  }
}

.isClosing {
  & .content {
    transform: scale(0.6);
    opacity: 0;
  }

  & .overlay {
    background-color: transparent;
  }
}
