.InputWrapper {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  border: 2px solid var(--icon-redesigned);
  border-radius: 48px;

  &:focus-within {
    border-color: var(--accent-redesigned);

    * {
      fill: var(--accent-redesigned);
    }
  }

  &:has(.input:read-only) {
    opacity: 0.7;

    &:focus-within {
      border-color: var(--icon-redesigned);
    }
  }
}

.input {
  border: none;
  outline: none;
  background: none;
  color: var(--text-redesigned);
  width: 100%;
  padding: 8px 15px;

  &::placeholder {
    color: var(--hint-redesigned);
  }
}

.placeholder {
  margin-right: 5px;
  text-wrap: nowrap;
}

.addonLeft,
.addonRight {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
}

.addonLeft {
  left: 8px;
}

.addonRight {
  right: 8px;
}

.with-addon-left {
  .input {
    padding-left: 40px;
  }
}

.with-addon-right {
  .input {
    padding-right: 40px;
  }
}

.s {
  height: 32px;
}

.m {
  height: 38px;
}

.l {
  height: 44px;
}
