.Modal {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  pointer-events: none;
  justify-content: center;
  align-items: center;
  z-index: var(--modal-z-index);

  &.open {
    display: flex;
    pointer-events: auto;
  }

  &.isClosing {
    background-color: transparent !important;
  }
}

.overlay {
  transition: background-color 0.3s;
}

.content {
  padding: 20px;
  border-radius: 12px;
  background: var(--bg-color);
  transition: all 0.3s;
  opacity: 0;
  transform: scale(0.6);
  z-index: var(--modal-z-index);
}

.modalNew {
  .content {
    background: var(--light-bg-redesigned);
  }
}

.modalOld {
  .content {
    background: var(--bg-color);
  }
}

.open {
  & .content {
    transform: scale(1);
    opacity: 1;
  }

  & .overlay {
    display: block;
  }
}

.isClosing {
  & .content {
    transform: scale(0.6);
    opacity: 0;
  }

  & .overlay {
    background-color: transparent;
  }
}
