.Wrapper {
  .select {
    color: var(--primary-color);
    border-color: var(--primary-color);
    outline: none;
    background: none;
    padding: 2px 10px 2px 2px;
  }

  .option {
    color: var(--inverted-primary-color);
    background: var(--inverted-bg-color);
  }
}

.label {
  margin-right: 5px;
}

.dark {
  .select {
    color: var(--inverted-primary-color);
    border-color: var(--inverted-primary-color);
  }

  .option {
    color: var(--primary-color);
    background: var(--bg-color);
  }

  .label {
    color: var(--inverted-primary-color);
  }
}
